name: 02 - Build & Publish Image to GHCR

on:
  push:
    branches:
      - staging

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      # 1. checkout repository
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. setup docker buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. login to GitHub Container Registry (GHCR)
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 4. build docker image and push to GHCR (staging + SHA tagging)
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:sha-${{ github.sha }}
            ghcr.io/${{ github.repository }}:staging